.language__changer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .choose__section{
    position: absolute;
    top:70px;
    width: 70px;
    z-index: 1000000;
  }
}

.btn {
  cursor: pointer;
  margin: auto;
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s ease;
  background-color: white;
  &:hover {
    background-color: rgb(192, 192, 192);
  }

  .flag__icon {
    width: 50%;
    height: 50%;
  }
}