body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, blockquote, pre, table, th, td {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}
