.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .cart__modal__content {
    background: white;
    border-radius: 8px;
    width: 800px;
    height: 600px;

    .item__page {
      width: 100%;
      height: 100%;
      .item__editor {
        width: 100%;
        height: 480px;
      }
      .to__offer__info {
        border-top: 2px solid black;
        width: 100%;
        height: 120px;
        .modal__container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .proceed__to__checkout__btn {
            width: 200px;
            height: 50px;
            color: white;
            background-color: black;
            cursor: pointer;
            transition:
              background-color 0.2s ease,
              color 0.2s ease;
            &:hover {
              color: black;
              background-color: white;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }

  .order__proces__page {
    width: 100%;
    height: 100%;
  }
}

.modal__container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
