.search__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

  padding: 15px 0 15px;

  .search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 700px;
    position: relative;

    .filter {
      background-color: white;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      .filter__icon {
        width: 70%;
        height: 100%;
      }
    }

    .input__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 640px;
      display: flex;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
      position: relative;

      .input__line {
        padding: 0 15px 0 35px;
        font-size: 16px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        &:focus {
          outline: none;
        }
        &.imput__section__active {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .search__icon {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        top: 11px;
        left: 5px;
        color: rgb(0, 0, 0);
      }

      .hint__section {
        position: absolute;
        top: 100%;
        z-index: 1;
        width: 100.2%;
        position: absolute;
        background: white;
        border: 1px solid gray;
        padding-bottom: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        li {
          width: 100%;
          height: 40px;
          .search__icon {
            position: absolute;
            top: 13px;
            height: 15px;
            width: 15px;
          }
        }
        .hint {
          display: flex;
          position: relative;
          align-items: center;
          gap: 10px;
          padding-left: 30px;
        }

        .hint__button {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: flex;
          position: relative;
          align-items: center;
          gap: 10px;
          padding-left: 30px;
          &:hover {
            background-color: rgba(128, 128, 128, 0.2);
          }
        }
      }
    }

    .hint__border {
      border: 1px solid black;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
