button{
  border: none;
  background-color: rgba(255,255,255,0);
}

.page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border: none;
  margin-right: 20px;
  background-color: rgb(255, 196, 124);
  transition: all 0.3s ease;
  cursor: pointer;


  &:active {
    background-color: rgba(255, 196, 124, 0.7);
  }
}
